.abilitySearch__submit-btn, .abilitySearch__submit-btn_filter {
  background-color: rgb(197, 123, 136);
  border-radius: 5px;
}

.abilitySearch__form {
  display: flex;
  margin-bottom: 60px;
  justify-content: space-between;
}

.abilitySearch__h2{
  font-size: 40px;
    margin-bottom: 15px;
}

.abilitySearch__filter-form{
  margin-top: 100px;
}

.abilitySearch__poke-name{
    font-size: 40px;
    margin-bottom: 15px;
}

.abilitySearch__filter-form{
  margin-bottom: 50px;
}